@(student: Student)


@main("Start") {
    
<html>
	<header>
			<div class="box">
				<div class="left">
					My advertisements
				</div>
				<div class="right">
					Logged in as @student.name
					<a class="log" href="@routes.Application.logout()">Logout</a>
				</div>
			</div>
	</header>

    <body>

                @student.name
                @student.email
                @student.password
                </br>
                <a href="@routes.Application.addNewStudAdvertisement()">Bijles zoeken</a></br>
                <a href="@routes.Application.addNewTutAdvertisement()">Bijles geven</a></br>
                

    </body>
</html>
        
    
}