@(student: Student)


@main("Start") {
    
<html>
    <body>
    
                <a class="log" href="@routes.Application.logout()">Logout</a>
                @student.name
                @student.email
                @student.password
                </br>
                <a href="@routes.Application.addNewStudAdvertisement()">Bijles zoeken</a></br>
                <a href="@routes.Application.addNewTutAdvertisement()">Bijles geven</a></br>
                

    </body>
</html>
        
    
}