@(student: Student)


@main("Start") {
    
<html>
<!-- 
	<header>
			<div class="box">
				<div class="left">
					My advertisements
				</div>
				<div class="right">
					Logged in as @student.name
					<a class="log" href="@routes.Application.logout()">Logout</a>
				</div>
			</div>
	</header>
-->
    <body>
    <a class="log" href="@routes.Application.logout()">Logout</a></font>
    <div class="titlefont">My advertisements</div>
    
		<div class="background">
                <a href="@routes.Application.addNewStudAdvertisement()">Bijles zoeken</a></br>
                <a href="@routes.Application.addNewTutAdvertisement()">Bijles geven</a></br>
		</div>                

    </body>
</html>
        
    
}