@(student: Student, tuForm: play.data.Form[Application.TutorAdvertisementForm], tutorAdv: TutorAdvertisement)

@main("Start"){

<html>
    <head>
        <title>New StudentAdvertisement</title>
    </head>
    <body>

<!-- 	<header>
		<span>New tutor advertisement</span>
	</header>
 -->
        <a class="log" href="@routes.Application.logout()">Logout</a></font> 
        	<a class="log" href="@routes.Application.index()">Home</a></font>
        
        <div class="box">
	    <div class="background center">  	
        @if(tutorAdv != null) {
        	<div class="titlefont">@(student.getLanguage().tutorAdvertisement())</div>
        	<font color="white">@(student.getLanguage().alreadyTutorAdvertisement())</font>
        	
        	
        	 @helper.form(routes.Application.addNewTutAdvertisementForm) {
					<div class="input button">
					   <p>
					       <input type="studies" name="studies" placeholder="@(student.getLanguage().studies())" value="@tutorAdv.getStudies()">
					   </p> 
					   <p>
					       <textarea type="description" name="description" placeholder=@tutorAdv.getDescription() value="@tutorAdv.getDescription()"></textarea>
					   </p>
					   <p>
					       <input type="price" name="price" placeholder="@(student.getLanguage().price()) (@(student.getLanguage().euroPerHour()))" value="@tutorAdv.getPrice()">
					   </p>
						<p>
						<input type="checkbox" name="testAd" value="testAd">Dit is een test-Advertentie<br>
						</p>
					   <p>
					       <button type="submit">@(student.getLanguage().post())</button>
					   </p>
					   
					   
					   @if(tuForm.hasGlobalErrors) {
					    <p class="error">
					        @tuForm.globalError.message
					    </p>
						}
					
						@if(flash.contains("success")) {
						    <p class="success">
						        @flash.get("success")
						    </p>
						}
        			</div>
        	}
        	
        	
        }else{
        	<h1>@(student.getLanguage().tutorAdvertisement())</h1>
			@helper.form(routes.Application.addNewTutAdvertisementForm) {
				<div class="input button">
				<p>
					<input type="studies" name="studies" placeholder=@(student.getLanguage().studies()) value="@tuForm("studies").value">
			    </p>
				<p>
					<textarea type="description" name="description" placeholder=@(student.getLanguage().description()) value="@tuForm("description").value"></textarea>
				</p>
				<p>
					<input type="price" name="price" placeholder= "@(student.getLanguage().price()) (@student.getLanguage().euroPerHour())" value="@tuForm("price").value">
				</p>
				<p>
					<input type="checkbox" name="testAd" value="testAd">Dit is een test-Advertentie<br>
				</p>
				<p>
					<button type="submit">@(student.getLanguage().post())</button>
				</p>
   				</div>
			    @if(tuForm.hasGlobalErrors) {
				    <p class="error">
				        @tuForm.globalError.message
				    </p>
				}
			
				@if(flash.contains("success")) {
				    <p class="success">
				        @flash.get("success")
				    </p>
				}
			
			}
		}

		</div>
    	</div>
    </body>
</html>

}