@(tuForm: play.data.Form[Application.TutorAdvertisementForm], tutorAdv: TutorAdvertisement)

@main("Start"){

<html>
    <head>
        <title>New StudentAdvertisement</title>
    </head>
    <body>

<!-- 	<header>
		<span>New tutor advertisement</span>
	</header>
 -->
         
        <div class="box">
	    <div class="background center">  	
        @if(tutorAdv != null) {
        	<h1>Tutor advertisement</h1>
        	You already have a tutoring advertisement, you can edit it here:
        	
        	
        	 @helper.form(routes.Application.addNewTutAdvertisementForm) {
					<div class="input button">
					   <p>
					       <input type="studies" name="studies" placeholder="studies" value="@tutorAdv.getStudies()">
					   </p>
					   <p>
					       <input type="description" name="description" placeholder="description" value="@tutorAdv.getDescription()">
					   </p>
					   <p>
					       <input type="price" name="price" placeholder="price" value="@tutorAdv.getPrice()">
					   </p>
					   <p>
					       <button type="submit">Submit</button>
					   </p>
					   
					   
					   @if(tuForm.hasGlobalErrors) {
					    <p class="error">
					        @tuForm.globalError.message
					    </p>
						}
					
						@if(flash.contains("success")) {
						    <p class="success">
						        @flash.get("success")
						    </p>
						}
        			</div>
        	}
        	
        	
        }else{
        	<h1>New tutor advertisement</h1>
			@helper.form(routes.Application.addNewTutAdvertisementForm) {
				<div class="input button">
				<p>
					<input type="studies" name="studies" placeholder="studies" value="@tuForm("studies").value">
			    </p>
				<p>
					<input type="description" name="description" placeholder="description" value="@tuForm("description").value">
				</p>
				<p>
					<input type="price" name="price" placeholder="price in &#8364/hour" value="@tuForm("price").value">
				</p>
				<p>
					<button type="submit">Submit</button>
				</p>
   				</div>
			    @if(tuForm.hasGlobalErrors) {
				    <p class="error">
				        @tuForm.globalError.message
				    </p>
				}
			
				@if(flash.contains("success")) {
				    <p class="success">
				        @flash.get("success")
				    </p>
				}
			
			}
		}

		</div>
    	</div>
    </body>
</html>

}