@(form: play.data.Form[Application.AdvertisementForm])


<html>
    <head>
        <title>New Advertisement</title>
    </head>
    <body>
        <header>
            <span>New Advertisement</span>
        </header>
        
    @helper.form(routes.Application.addNewAdvertisementForm) {
   <h1>New Advertisement</h1>

   <p>
       <input type="studies" name="studies" placeholder="studies" value="@form("studies").value">
   </p>
   <p>
       <input type="description" name="description" placeholder="description" value="@form("description").value">
   </p>
   <p>
       <button type="submit">Submit</button>
   </p>
   
   
   @if(form.hasGlobalErrors) {
    <p class="error">
        @form.globalError.message
    </p>
	}

	@if(flash.contains("success")) {
	    <p class="success">
	        @flash.get("success")
	    </p>
	}


}
    
    </body>
</html>