@(form: play.data.Form[Application.Register])

@main("Start"){


<html>
<!--  	<head>
        <title>Register</title>
    </head> 

    <body>
        <header>
            <a href="@routes.Application.index" id="logo"><span>Register</span></a>
        </header>
-->        
    @helper.form(routes.Application.registerNewUser) {
    	<div class="box">
	    <div class="background center">
			<div class=titlefont>Register</div>
	
			<p>
				<input type="name" name="name" placeholder="Name" value="@form("name").value">
			</p>
			<p>
				<input type="email" name="email" placeholder="Email" value="@form("email").value">
			</p>
			<p>
				<input type="password" name="password" placeholder="Password">
			</p>
			<div class="button">
			   	<p>
					<button type="submit">Register</button>
				</p>
			</div>
			
   
			@if(form.hasGlobalErrors) {
		    <p class="error">
		        @form.globalError.message
		    </p>
			}
		
			@if(flash.contains("success")) {
			    <p class="success">
			        @flash.get("success")
			    </p>
			}
		</div>
		</div>

}
    
    </body>
</html>

}