@(student: Student)


@main("Start") {
    
<html>
    <body>
    
                <a class="log" href="@routes.Application.logout()">Logout</a>
                @student.name
                @student.email
                @student.password
                </br>
                <a href="@routes.Application.viewMyAdvertisements()">Mijn bijles advertenties</a></br>
                <a href="@routes.Application.viewMyConversations()">Berichten</a></br>
                <a href="@routes.Application.viewAllAdvertisements()">Bekijk advertenties</a></br>
                

    </body>
</html>
        
    
}