@(student: Student)


@main("Start") {
    
<html>

<!--
	<header>
			<div class="box">
				<div class="left">
					All Conversations
				</div>
				<div class="right">
					Logged in as @student.name
					<a class="log" href="@routes.Application.logout()">Logout</a>
				</div>
			</div>
	</header>
-->
	<a class="log" href="@routes.Application.logout()">Logout</a></font>
	<div class="titlefont">stEDUnt</div>
		
    <body>
    	<div class=background>
    	
                <a href="@routes.Application.viewMyAdvertisements()" class="button">Mijn bijles advertenties</a></br>
                <a href="@routes.Application.viewMyConversations()">Berichten</a></br>
                <a href="@routes.Application.viewAllAdvertisements()">Bekijk advertenties</a></br>
    	</div>            

    </body>
</html>
        
    
}