@(student: Student, studAdvertisements: List[StudentAdvertisement], tutAdvertisements: List[TutorAdvertisement])


@main("Start") {
    
<html>

	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/tabs.css")">
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		<!-- http://jqueryui.com/tabs/ 
			 voor verandering: http://keith-wood.name/uiTabs.html
		-->
	</head>
	
    <body>
    
    <a class="log" href="@routes.Application.logout()">Logout</a></font>	
	<div class="titlefont">Advertisements</div><font font-align="right">
	
    <div id="tabs">
		<ul>
			<li><a class="tab" href="#student"><span>Student Advertisement</span></a></li>
			<li><a class="tab" href="#tutor"><span>Tutor Advertisement</span></a></li>
		</ul>
		<div id="student">
				<article  class="advertisements">
				
				@if(!Application.hasStudAdv(student.getEmail())){
					U heeft nog geen studentenadvertentie geplaatst. Klik hier om er nu 1 te plaatsen! 
					
				} else{				
				
		    	@for(index <- 0 until studAdvertisements.size){
		    		@if(studAdvertisements(index).getStudent()==student){
		    		<article class="advertisement">
		    		<h2> Advertisement @index </h2>
		   			 Student: @studAdvertisements(index).getStudent().getName()</br>
		   			 Studies: @studAdvertisements(index).getStudies()</br>
		   			 Description: @studAdvertisements(index).getDescription() </br>
		   			 	<a href="@routes.Application.deleteStudAdvertisement(studAdvertisements(index).getId(),2)">Verwijder deze advertentie</a>
		   			 }
		   			 </article>
			   			 
			   		}
			   		}
			   		</br>
			   		<a href="@routes.Application.addNewStudAdvertisement">Plaats advertentie</a>
			   		
			    </article>
		</div>
		
		<div id="tutor">
				<article  class="advertisements">
				
				@if(!Application.hasTutAdv(student.getEmail())){
					U heeft nog geen bijlesgeversadvertentie geplaatst. Klik hier om er nu 1 te plaatsen! 
					<a href="@routes.Application.addNewTutAdvertisement">Plaats advertentie</a>
					
					
				} else{				
				
				
		    	@for(index <- 0 until tutAdvertisements.size){
		    		@if(tutAdvertisements(index).getStudent()==student){
		    		<article class="advertisement">
		    		<h2> Advertisement @index </h2>
		   			 Student: @tutAdvertisements(index).getStudent().getName()</br>
		   			 Studies: @tutAdvertisements(index).getStudies()</br>
		   			 Description: @tutAdvertisements(index).getDescription() </br>
		   			 Price: @tutAdvertisements(index).getPrice()/hour  </br>
		   			 	<a href="@routes.Application.deleteTutAdvertisement(tutAdvertisements(index).getId(),2)">Verwijder deze advertentie</a>
		   			 }
		   			  </article>
		   		}
		   		}
		   		
		    	</article>
		</div>
	</div>

	<script>
		$( "#tabs" ).tabs();
	</script>

    </body>
</html>
        
    
}