@(student: Student, studAdvertisements: List[StudentAdvertisement], tutAdvertisements: List[TutorAdvertisement])


@main("Start") {
    
<html>
    <body>
    
     <header>
        <hgroup>
            <h1>All Advertisements</h1>
            Logged in as @student.name
        </hgroup>
    </header>
	<h2> Student Advertisement</h2>
    <article  class="advertisements">
    	@for(index <- 0 until studAdvertisements.size){
    		<article class="advertisement">
    		<h2> Advertisement @index </h2>
   			 Student: @studAdvertisements(index).getStudent().getName()</br>
   			 Studies: @studAdvertisements(index).getStudies()</br>
   			 Description: @studAdvertisements(index).getDescription() </br>
   			 
   			 @if(studAdvertisements(index).getStudent()==student){
   			 	</br>
   			 	<a href="@routes.Application.deleteStudAdvertisement(studAdvertisements(index).getId())">Verwijder deze advertentie</a>
   			 }
   			 </article>
   			 
   		}
    </article>
    
    <h2> Tutor Advertisement</h2>
    <article  class="advertisements">
    	@for(index <- 0 until tutAdvertisements.size){
    		<h2> Advertisement @index </h2>
   			 Student: @tutAdvertisements(index).getStudent().getName()</br>
   			 Studies: @tutAdvertisements(index).getStudies()</br>
   			 Description: @tutAdvertisements(index).getDescription() </br>
   			 Price: @tutAdvertisements(index).getPrice()  </br>
   			 
   			 @if(tutAdvertisements(index).getStudent()==student){
   			 	</br>
   			 	<a href="@routes.Application.deleteTutAdvertisement(tutAdvertisements(index).getId())">Verwijder deze advertentie</a>
   			 }
   		}
    </article>

    </body>
</html>
        
    
}